.analytics {
  padding: 20px;
  text-align: center;
}

.time-frame-selector {
  margin-bottom: 20px;
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .charts {
    flex-direction: column;
  }
}
