.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-screen img {
  width: 250px; /* Default width for larger screens */
  height: auto;  /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  .loading-screen img {
    width: 200px; /* Smaller width for tablets and small laptops */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 480px) {
  .loading-screen img {
    width: 150px; /* Smaller width for mobile devices */
    height: auto; /* Maintain aspect ratio */
  }
}
