/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s;
}

.full-width {
  margin-left: 0;
}
