/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --bg-color: #333333;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.App {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s;
}

.full-width {
  margin-left: 0;
}
