.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 50px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s;
}

.main-content.collapsed {
  margin-left: 50px;
}

.collapse-button {
  position: fixed;
  top: 10px;
  left: 260px;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.3s;
}

.collapse-button.collapsed {
  left: 60px;
}
